.player-score-card {
  padding: 8px;

  .player-name {
    font-size: 20px;
    text-align: center;
  }
}

.score-controls {
  display: flex;
  align-items: flex-end;

  .score-area {
    flex-grow: 1;
    text-align: center;

    .label {
      font-size: 12px;
    }
  }

  .score-action-btn {
    width: 50px;
  }
}
