.player-score-card {
  padding: 8px;

  .player-info {
    display: flex;

    .player-name {
      flex-grow: 1;
    }
  }

  .score-actions {
    display: flex;
    align-items: center;

    .cur-score {
      flex-grow: 1;
      text-align: center;
    }

    .score-action-btn {
      width: 50px;
    }
  }
}
